<a href="https://colab.research.google.com/github/Rerzd/Training/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data science tools and ecosystem

## This notebook is made with the objective of summarize tools and the ecosystem in data science

Some of the languages that Data scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. pandas
2. Numpy
3. matplotlib

three development environment open source tools used in data science are:

Open Source Tools|
-----------------|
Jupyter notebooks
Visual Studio code
R studio

###Below are a few examples of evaluating arithmetic expressions in Python:

1. Multiplication: 4 * 3 (Result: 12)
2. Division: 30 / 6 (Result: 5)
3. Sum: 8 + 9 (Result: 17)
4. Substraction: 20 - 6 (Result: 14)

In [2]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [6]:
Minutes = 200
Hours = Minutes / 60
print(Hours)
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

Some of the objectives this notebook covered are:

- Make an oredered list of some popular langueges on data science
-  Create a table of some development enviroment open source tools on data science
- List some arithmetic expressions in python as well as two examples on code

## Author: Daniel_P